{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}Describe how and why you chose your iGEM project.{% endblock %}

{% block page_content %}

<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #3</h4>
      <p>Describe how and why you chose your iGEM project.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2024 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>A clear and concise description of your project.</li>
      <li>A detailed explanation of why your team chose to work on this particular project.</li>
      <li>References and sources to document your research.</li>
      <li>Use illustrations and other visual resources to explain your project.</li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2022.igem.wiki/dtu-denmark/description">2022 DTU-Denmark</a></li>
      <li><a href="https://2019.igem.org/Team:ITESO_Guadalajara/Description">2019 ITESO Guadalajara</a></li>
      <li><a href="https://2020.igem.org/Team:Technion-Israel/Description">2020 Technion Israel</a></li>
      <li><a href="https://2020.igem.org/Team:Botchan_Lab_Tokyo/Description">2020 Botchan Lab Tokyo</a></li>
      <li><a href="https://2020.igem.org/Team:St_Andrews/Description">2020 St Andrews</a></li>
      <li><a href="https://2020.igem.org/Team:MIT/Description">2020 MIT</a></li>
    </ul>
  </div>
</div>

<div class="row mt-4">
  <div class="col-lg-8">
    <h2>Inspirations</h2>
    <hr>
    <p>Anxiety is spreading among us high school students, seeping into every corner of our lives. We’ve noticed that this problem isn’t just confined to our school. According to WHO survey, an estimated 4 % of the global population currently experiencing anxiety disorder, and in 2019, 301M people of the world population were suffering from it.
<br><br>
 In our quest for relief, we stumbled upon theanine, a compound found in tea leaves.</p>
  </div>

  <div class="col-lg-8">
    <h2>Introduction to Theanine</h2>
    <hr>
    <p>Theanine is a non-protein amino acid in tea leaves that has a unique flavor of umami with applications in food, medicine, healthcare, and other industries. It can demonstrate anti-anxiolytic and relaxation effect by modulating neurotransmitters, such as reducing glutamate release, increasing the levels of the inhibitory neurotransmitter GABA, and enhancing the release of glycine and dopamine. Besides, it also has various functions, including improving sleep quality. </p>
  </div>

   <div class="col-lg-8">
    <h2>Drawbacks of Conventional Producing Methods</h2>
    <hr>
    <p>Conventional synthesis methods for producing theanine has several drawbacks. The plant extraction method suffers from low yield and purity, high material costs, and a risk of contamination, which can lead to significant loss of theanine. The chemical synthesis method requires costly separation processes and results in low product yield. Similarly, the enzymatic synthesis method is hindered by high substrate costs and low efficiency due to the complexity of the catalytic systems involved. 
<br><br>
All of the problems above prompted us to adopt the synthetic biology method: we aim to construct a de novo synthetic pathway in E.coli for theanine production, which is sustainable, cost efficient, and high-yielding…</p>
  </div>

 <div class="col-lg-8">
    <h2>Our Solution</h2>
    <hr>
    <p>Inspired by innovative research, we designed a pathway - employed five enzymes, which are γ-glutamylmethylamide synthetase (GMAS) from Methyloversatilis universalis, polyphosphate kinase (PPK) from E. coli, alanine transaminase from Bacillus subtilis (BsAld), alanine decarboxylase from Camellia sinensis (CsAlaDC), glutamine permease from Saccharomyces cereviside (GNP1) - in E. coli BL21.
<br><br>
Since synthetic theanine requires glutamate, ethylamine, which are used as precursors, and ATP, we have devised the following plan.
<br><br>
We planned to convert pyruvate, produced in the glycolysis, into ethylamine, utilizing CsAlaDC and BsAld, then use GMAS to catalyze it with glutamate, generated in the TCA cycle, to produce theanine. Meanwhile, we have designed an ATP regeneration system by utilizing PPK to convert ADP into ATP, and a theanine transport system utilizing GNP1.</p>
  </div>

  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>Cao, R., Hu, S., Lu, Y., Wang, W., Fu, Z., & Cheng, J. (2023). Fermentative Production of L-Theanine in Escherichia coli via the Construction of an Adenosine Triphosphate Regeneration System. <i>Fermentation, 9(10)</i>, 875–875. https://doi.org/10.3390/fermentation9100875
<br><br>
Wang, L., Brennan, M., Li, S., Zhao, H., Lange, K. W., & Brennan, C. (2022). How does the tea L-theanine buffer stress and anxiety. <i>Food Science and Human Wellness, 11(3)</i>, 467–475. https://doi.org/10.1016/j.fshw.2021.12.004 </p>
  </div>
</div>

{% endblock %}
