{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}
{% block lead %}our <big>STAR</big> stands for <big>S</big>ynthetic <big>T</big>heanine for <big>A</big>nxiety <big>R</big>elief{% endblock %}

{% block page_content %}

  <div class="col-lg-8">
    <h2>Introduction to Theanine</h2>
    <hr>
    <p>Theanine is a non-protein amino acid in tea leaves that has a unique flavor of umami with applications in food, medicine, healthcare, and other industries. It can demonstrate anti-anxiolytic and relaxation effect by modulating neurotransmitters, such as reducing glutamate release, increasing the levels of the inhibitory neurotransmitter GABA, and enhancing the release of glycine and dopamine. Besides, it also has various functions, including improving sleep quality. </p>
  </div>

   <div class="col-lg-8">
    <h2>Drawbacks of Conventional Producing Methods</h2>
    <hr>
    <p>Conventional synthesis methods for producing theanine has several drawbacks. The plant extraction method suffers from low yield and purity, high material costs, and a risk of contamination, which can lead to significant loss of theanine. The chemical synthesis method requires costly separation processes and results in low product yield. Similarly, the enzymatic synthesis method is hindered by high substrate costs and low efficiency due to the complexity of the catalytic systems involved. 
<br><br>
All of the problems above prompted us to adopt the synthetic biology method: we aim to construct a de novo synthetic pathway in E.coli for theanine production, which is sustainable, cost efficient, and high-yielding…</p>
  </div>

 <div class="col-lg-8">
    <h2>Our Solution</h2>
    <hr>
    <p>Inspired by innovative research, we designed a pathway - employed five enzymes, which are γ-glutamylmethylamide synthetase (GMAS) from Methyloversatilis universalis, polyphosphate kinase (PPK) from E. coli, alanine transaminase from Bacillus subtilis (BsAld), alanine decarboxylase from Camellia sinensis (CsAlaDC), glutamine permease from Saccharomyces cereviside (GNP1) - in E. coli BL21.
<br><br>
Since synthetic theanine requires glutamate, ethylamine, which are used as precursors, and ATP, we have devised the following plan.
<br><br>
We planned to convert pyruvate, produced in the glycolysis, into ethylamine, utilizing CsAlaDC and BsAld, then use GMAS to catalyze it with glutamate, generated in the TCA cycle, to produce theanine. Meanwhile, we have designed an ATP regeneration system by utilizing PPK to convert ADP into ATP, and a theanine transport system utilizing GNP1.</p>
  </div>

  <div class="col-lg-4">
    <h2>References</h2>
    <hr>
    <p>Cao, R., Hu, S., Lu, Y., Wang, W., Fu, Z., & Cheng, J. (2023). Fermentative Production of L-Theanine in Escherichia coli via the Construction of an Adenosine Triphosphate Regeneration System. <i>Fermentation, 9(10)</i>, 875–875. https://doi.org/10.3390/fermentation9100875
<br><br>
Wang, L., Brennan, M., Li, S., Zhao, H., Lange, K. W., & Brennan, C. (2022). How does the tea L-theanine buffer stress and anxiety. <i>Food Science and Human Wellness, 11(3)</i>, 467–475. https://doi.org/10.1016/j.fshw.2021.12.004 </p>
  </div>
</div>

{% endblock %}
